@import './../../scss/vars';
@import './../../scss/base';

.home-component {
	width: 100%;
	height: 100%;
	background-color: $dark-blue;

	.search-wrapper {
		max-width: 450px;
		margin: 0 auto;
		padding-top: 250px;

		h1 input {
			@extend %h1;
			background: rgba(0,0,0,0);
			border: none;
			border-bottom: 2px solid white;

			&:focus {
				border: none;
			}
		}
	}
}