.search-component {
	width: 100%;


	input {
		border-radius: 16px;
		border: none;
		line-height: 36px;
		font-size: 28px;
		font-family: 'Helvetica', sans-serif;
		color: rgba(0,0,0,0.75);
		background: rgba(255,255,255,0.75);
		width: 100%;
		text-align: center;
	}
}